*{margin: 0; padding: 0; box-sizing: border-box;}

.navbar {
    background-color:  rgb(248, 63, 109) !important;
}

.navbar-brand {
    font-size: 1.5rem !important;
    color: #ffffff !important;
    animation: brand 2s linear infinite alternate-reverse both;
}

@-webkit-keyframes brand {
    0%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1.2);
    }
}

@keyframes brand {
    0%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1.2);
    }
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    border-bottom: 2px solid #565387;
}

.navbar a:hover {
    color: #ffffff !important;
}

@media (max-width: 991px) {
   
    .navbar{
        opacity: 90%;
    }

    .nav-link{
        color: black!important;
    }

    .navbar-brand {
        font-size: 1.5rem !important;
    }


    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}





/*************************************************************************************************************
# Main Landing Section
**************************************************************************************************************/

#header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: #f80757;
}

.brand-name {
    color: #f80757;
}

#header h2 {
    color: #484848;
}

/* #header span {
    font-size: 1rem;
    color: #aaa5a5;
} */

#header .btn-visit , .btn-login {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
    margin-left: 5px;
}

#header .btn-visit:hover{
    background: #3498db;
    color: #fff;
}

#header .btn-login:hover{
    background: #f80757;
    color: #fff;
    border: none;
}

#header-img {
    text-align: right;
}

/* #header img{   
    border-radius: 20%;
    box-shadow: -10px 20px 10px -5px rgba(0,0,0,0.3);
    opacity: 90%;
} */

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }
}


.mission-div{
	width: 100%;
	height: auto;
	margin: 100px 0;
	position: relative;
}

.extra-div{
	background: #f7f7f9;
	border: none;
	padding: 30px!important;
	border-radius: 3px;
	transition: 0.3;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	border-radius: 0.5rem;
}

.extra-div h2{
	background: #fff;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.extra-div:hover{
	transform: translateY(-10px);
}
           /*********************************************************mission parts css end**********************************************/


@media (max-width: 991px) {


    .mission-div{
        margin-top: 200px;
    }


#header .header-img{
    margin-top: 170px;
    /* box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
    border-radius: 50%; */
}

/* .animated{
    margin-bottom: 150px;
} */

.extra-div:hover{
	transform: translate(0px);
}


}

           /*********************************************************features parts css end**********************************************/



/****************************************************  #About   ****************************************/

.features{
	/* background: #f7f7f9; */
	padding: 45px 0;
    /* margin-bottom: 50px; */
    margin-top: 120px;
}


.headings{
	margin-bottom: 50px; 
}

.headings h2{
	font-size: 1.5rem;
	font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
 



/****************************************************  #Service   ****************************************/


.head h1{
    margin-top: 100px;
}

.card {
    height: 70vh;
    width: 70%;
    box-shadow: 0 0 10px 0 #cad9e7;
    /* box-shadow: 5px 5px 10px #cad9e7,
                 -5px -5px 10px #ffffff; */
}

.card:hover{
    transform: scale(1.05);
    background: #f80757;
}

.card-img-top {
    height: 40vh;
    width: 100%!important;
    border-radius: 80%!important;
}

@media (max-width: 991px) {
    .card{
        /* margin: 0 55px; */
        height: auto!important;
        width: 100%!important;
        box-shadow: 0 0 10px 0 #cad9e7;
    }
}



/****************************************************  #Footer   ****************************************/

footer{
    margin-top: 100px;
}
/********************************************social media****************************/

.social_media{
    display: flex;
    flex-direction: row;
}

.social_media a{
    color: rgb(80, 80, 80);
    box-shadow: 13px 13px 20px #cbced1,
                 -13px -13px 20px #ffffff;
    border-radius: 50%;
    margin: 0 5px;
}


.social_media .icon_f{
    padding: 0 2px;
    font-size:60px;
    transition: transform 0.5s;
}

.social_media .icon_f:hover{
    transform: scale(0.90);
    color: #3b5998;
}

.social_media .icon_l{
    padding: 0 2px;
    font-size:60px;
    transition: transform 0.5s;
}

.social_media .icon_l:hover{
    transform: scale(0.90);
    color: #2196F3;
}
.social_media .icon_i{
    padding: 0 2px;
    font-size:60px;
    transition: transform 0.5s;
}

.social_media .icon_i:hover{
    transform: scale(0.90);
    color: #E91E63;
}
.social_media .icon_t{
    padding: 0 2px;
    font-size:60px;
    transition: transform 0.5s;
}

.social_media .icon_t:hover{
    transform: scale(0.90);
    color: #4bcffa;
}
.social_media .icon_y{
    padding: 0 2px;
    font-size:60px;
    transition: transform 0.5s;
}

.social_media .icon_y:hover{
    transform: scale(0.90);
    color: #f00;
}

@media (max-width: 991px) {
    footer{
        margin-top: 200px;
    }
}


/**************************      contact us          **************************************************/

#log {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px!important;
    margin-bottom: 40px!important;
}

#log .login , .sign {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
     margin-right: 25px; 
}

#log .login:hover{
    background: #f80757;
    color: #fff;
    border: none;
    transform: scale(1.05);
}

#log .active{
    background: #f80757;
    color: #fff;
    border: none;
    transform: scale(1.05);
}

#log .sign:hover{
    background: #f80757;
    color: #fff;
    border: none;
    transform: scale(1.05);
}

.contanct_div{
    width: 50%!important;
    height: 90vh;
    padding: 60px 35px 35px 35px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                 -13px -13px 20px #ffffff;
    border-radius: 5%;
}
.log_div{
    width: 50%!important;
    height: 50vh;
    padding: 60px 35px 35px 35px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                 -13px -13px 20px #ffffff;
    border-radius: 5%;
}

label{
    padding: 15px 0 0 0!important;
}

input {
    box-shadow: inset 1px 5px 25px #cbced1,
                inset -1px -5px 25px #cbced1;
    border-radius: 10px!important;
}

textarea {
    box-shadow: inset 1px 5px 65px #cbced1,
                inset -1px -5px 65px #cbced1;
    border-radius: 10px!important;
}

@media (max-width: 991px) {
    .contanct_div{
        width: 70%!important;
        height: auto!important;
        padding: 40px 30px 30px 30px;
        background: #ecf0f3;
        box-shadow: 13px 13px 20px #cbced1,
                     -13px -13px 20px #ffffff;
        border-radius: 5%;
    }
    .log_div{
        width: 70%!important;
        height: auto!important;
        padding: 60px 35px 35px 35px;
        background: #ecf0f3;
        box-shadow: 13px 13px 20px #cbced1,
                     -13px -13px 20px #ffffff;
        border-radius: 5%;
    }
}